.container {
    height: 50px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon {
    transition: 300ms;
    opacity: 0.6;
    cursor: pointer;
}

.icon:hover {
    transition: 300ms;
    opacity: 1;
}