.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 50px;
}

.img {
    object-fit: cover;
    border: 3px solid #bbb;
    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.content h1 {
    font-size: 25px;
    font-weight: bold;
}

.content p {
    font-size: 14px;
}